<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/change.js"></script>
</body>
</html>