{{>layout/header}}
<div class="container p-3 my-3 bg-dark text-white">
    <h2 class="center">ADMIN으로 권한을 변경할 아이디 검색</h2>
    <div class="form-group">
        <label for="usr">ID:</label>
        <input type="text" class="form-control" id="usr" name="username">
        <button type="button" class="btn btn-light" id="click">찾기</button>
    </div>
</div>
{{>layout/change_footer}}